
<div class="card text-center">
    <div class="card-header">
      <h3>REGISTRAR TIPO DE TACOS</h3>
  </div>
  <form (ngSubmit)="addTaco()">
      <div class="card-body">
        <label for="tipo">Tipo</label>
        <input type="text" class="form-control" name="tipo" [(ngModel)]="taqueria.tipo" >
        <label for="precio">Precio</label>
        <input type="number" class="form-control" name="precio" [(ngModel)]="taqueria.precio" step="1.00">
        <label for="existencia">Existencia</label>
        <input type="text" class="form-control" name="existencia" [(ngModel)]="taqueria.existencia">
        <button type="submit" class="btn btn-success mt-3">
          Guardar
        </button>
      </div>
    </form>
</div>
    
