<div class="container">
    <!--div class="row">
        <div class="col-6">
            
            <app-form-ventas></app-form-ventas>
        </div>
        <div class="col-6">
            <app-venta></app-venta>
        </div>
    </div-->
    <br>
    <br>
    <div class="row">
        <div class="col-6">
            <app-form-taqueria></app-form-taqueria>
        </div>

        <div class="col-6">
            <app-taqueria></app-taqueria>
        </div>

    </div>
    <app-chatbot></app-chatbot>

</div>